@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:#212B38;
  line-height: 1.5;
  font-family: "Caveat", cursive;
}

main {
  padding: 1rem;
  max-width: 1100px;
  margin: auto;
}

h1 {
  text-align: center;
  color: #92bbb5;
  margin-bottom: 2rem;
  font-size: 5rem;
  text-transform: uppercase;
}

p{
  font-size: large;
  font-weight: bold;
}

img{
  width: 30%px;
  margin-left: 10px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
  justify-content: space-between;
}

.app{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 25%;
  margin-top: 25px;
}

.card {
  align-items: center;
  display: flex;
  width: 220px;
  height: 220px;
  flex-direction: column;
  justify-content: center;
  background:#37465B;
  color: #92bbb5;;
  padding: 1rem;
  border-radius: 10px;
  border-top: 2px solid #726eff;
  border-bottom: 1px solid #726eff;
}

.card:hover{
  align-items: center;
  display: flex;
  width: 240px;
  height: 240px;
  flex-direction: column;
  justify-content: center;
  background:#92bbb5;
  color:  #37465B;
  padding: 1rem;
  border-radius: 10px;
  border-top: 2px solid #726eff;
  border-bottom: 1px solid #726eff;
  transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s;
}

.button-text {
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: 598;
  text-align: center;
}

.pokedex {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 10px;
}

.pokedex-buttons-panel {
  display: flex;
  flex-direction: row;
}

.pokedex-button {
  background:#92bbb5;
  color:  #37465B;
  border-top: 2px solid #726eff;
  border-bottom: 1px solid #726eff;
  height: 50px;
  width: 100px;
}

.pokedex-button:disabled {
  background-color: #D0D0D0;
}

.filter-button {
  background:#92bbb5;
  color:  #37465B;
  border-top: 2px solid #726eff;
  border-bottom: 1px solid #726eff;
  height: 50px;
  margin: 10px;
  width: 80px;
}